@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #181f2c, #171c26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

.filter-wrapper {
  width: 1100px;
  background: #22364a;
  height: 30vh;
  margin: 0 auto;
}
.filter-bar {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
.filter-bar h1 {
  margin-top: 20px;
}

.form-group {
  z-index: 3;
  align-self: center;
}

/* .match-list {
  overflow-y: scroll;
} */

.poke-counter {
  align-self: center;
  width: 200px;
  color: #efefbb;
}

.filter-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  height: 50%;
}

.toggle-button {
  margin-right: 0.25rem;
  text-rendering: auto;
  border: none;
  color: rgb(121, 134, 163);
  background-color: rgb(24, 35, 56);
  height: 2.25rem;
  width: 120px;
  align-items: center;
  cursor: pointer;
  padding: 0px 1rem;
  transition: all 0.15s ease-out 0s;
  font: 400 13.33px Arial;
}
.toggle-button:hover {
  background: rgb(121, 134, 163);
  color: #efefbb;
}

input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 30px;
  text-align: center;
}

.searchCard {
  font-size: 32px;
  color: white;
  height: 75px;
  text-align: center;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
  max-width: 331px;
}
.search-box-wrapper {
  width: 600px;
  height: 54px;
  background: rgb(32, 42, 67) none repeat scroll 0% 0%;
  cursor: text;
  border: 1px solid rgba(158, 175, 208, 0.3);
  border-radius: 8px;
  transition: all 0.1s ease-out 0s;
  color: rgb(229, 235, 239);
  font-size: 1em;
  line-height: 1.5;
  cursor: text;
  display: flex;
  align-items: center;
}
.search-box-wrapper:hover,
.search-box-text:hover {
  background: #283254;
}

.search-box-text {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 15px;
  letter-spacing: 0.5px;
  padding: 13px 0px 0px 1.5rem;
  width: 92%;
  background: rgb(32, 42, 67) none repeat scroll 0% 0%;
  height: 100%;
  overflow: hidden;
  color: rgb(158, 175, 208);
}

.searchCard:hover {
  cursor: pointer;
}

h1 {
  letter-spacing: 3px;
  color: #efefbb;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.25s;
}

.pokemon:hover {
  transform: scale(0.95);
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}
